
$color-grey: #e5e5e5;
$color-grey-light: lighten($color-grey, 10%);
$color-grey-lighter: lighten($color-grey, 25%);
$color-grey-dark: darken($color-grey, 10%);
$color-grey-darker: darken($color-grey, 25%);
$color-error: #bb1111;
$color-error-background: lighten($color-error, 45%);
$color-white: #fff;
$color-black: #1e1e1e;